.logo-text{
    margin-left: 15px;
    border-left: 1px solid #fff;
    padding-left: 16px;
    line-height: 20px;
    color: #fff;
}
.logo-block{
    display: flex;
}
.button-exit{
    color:#e4e2e2;
    border: 1px solid #868686;
    padding: 5px;
    width: 120px;
    border-radius: 2px;
    font-size: 14px;
}