/* Reset some default styling */

.gjs-editor-cont {
  width: 300px !important;
  height: 250px !important;
  border: 1px solid gray;
}
.gjs-block {
  width: auto;
  height: auto;
  min-height: auto;
}
.panel__top {
  padding: 0;
  width: 100%;
  display: flex;
  position: initial;
  justify-content: center;
  justify-content: space-between;
}
.panel__basic-actions {
  position: initial;
}
.editor-box {
  margin-top: 5%;
}
.step-info {
  background-color: #547fde;
}
.step-info-text {
  font-size: 10px;
  color: #93ade3;
  margin-right: 60%;
}
.step-info-header {
  font-size: 16px;
  color: white;
  margin: 0px 50% 0px 0px;
  font-weight: 500;
}
.step-info-content {
  font-size: 13px;
  color: #abbee6;
  margin-left: -2%;
}
.step-info-button {
  color: #abbee6;
  border: 1px solid #000000;
  padding: 5px;
  width: 100%;
  border-radius: 2px;
  font-size: 14px;
}
.close-checkbox {
  margin-right: 30%;
}
.checkbox-text {
  font-size: 14px;
  color: #abbee6;
}
.editor {
  margin-top: 50%;
}
.block-manager {
  background-color: #7a808d;
}
.block-text {
  font-size: 12px;
  color: #d7dce0;
  text-align: left;
  margin-left: -65%;
}
.ad-element-button{
  color: #7a808d;
  border: 1px solid #424752;
  padding: 5px;
  width: 100%;
  border-radius: 2px;
  font-size: 14px;
  background-color: #424752;
}
.ad-button{
  color: #ffffff;
  border: 1px solid #535a69;
  padding: 5px;
  width: 100%;
  border-radius: 2px;
  font-size: 14px;
  background-color: #7a808d;
  margin: 5%;
}
.ad-button:hover{
  background-color: #99a0ad;
}
.ad-button::selection{
  background-color: #99a0ad;
}
.upper-button{
  display: flex;
}
.align-button{
  color: #ffffff;
  border: 1px solid #535a69;
  padding: 5px;
  width: 20%;
  border-radius: 1px;
  font-size: 14px;
  background-color: #7a808d;
}
.align-center{
  margin-left:20px;
}
.ad-element-input{
  color: #ffffff;
  border: 1px solid #424752;
  padding: 5px;
  width: 100%;
  border-radius: 2px;
  font-size: 14px;
  background-color: #424752;
  height: 10%;
}