/* Reset some default styling */

.gjs-editor-cont {
    width: 300px!important;
    height: 250px!important;
    border : 1px solid gray;
}
.gjs-block {
    width: auto;
    height: auto;
    min-height: auto;
  }
  .panel__top {
    padding: 0;
    width: 100%;
    display: flex;
    position: initial;
    justify-content: center;
    justify-content: space-between;
  }
  .panel__basic-actions {
    position: initial;
  }
  