<div class="container-fluid">
    <div class="row" style="margin-top: 61px;">
        <div class="col-md-3">
            <div class="block-manager">
                <!--Commented as per client feedback, can be use in future -->
                <p class="block-text">AD ELEMENTS</p>
                <!-- <button class="ad-element-button">
        <i class="fa fa-plus" style="margin-right: 20%;margin-left: -20%;"></i><span class="ad-element-btn-text">Add Element</span>
      </button> -->
                <div #customid class="block-manager-gjs"></div>
                <!-- <hr style="border:1px solid #626875;width:114%;">  -->
                <!-- <button class="btn ad-button"><i class="fa fa-plus" style="margin-right:20%;margin-left:-45%;"></i>Square</button>
                <button class="btn ad-button"><i class="fa fa-circle" style="margin-right:20%;margin-left:-50%;"></i>Circle</button>
                <button class="btn ad-button"><i class="fa fa-plus" style="margin-right:20%;margin-left:-30%;"></i>CLICK HERE</button>
                <button class="btn ad-button"><i class="fa fa-plus" style="margin-right:20%;margin-left:-20%;"></i>CREATIVE4LIVE</button> -->
                <div class="">
                    <div id="layers-container" class="layers-container"></div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div id="gjs" class="editor {{viewLoaded}}">
                <h1>My Component!</h1>
            </div>
        </div>
        <div class="col-md-3 style-manager-block">

            <div #styletext></div>
        </div>
    </div>
</div>
<button class="btn" (click)="getHtmlCss()">Get HTML</button>
<div id="myiframe">
    <head></head>
    <body></body>
</div>
<app-modal-popup></app-modal-popup>