<div class="content-fluid editor-box">
    <div class="row">
        <div class="col-md-3">
            <!-- <div class="card-container"> -->
                <div class="card step-info">
                    <span class="step-info-text">LETS GET STARTED</span>
                    <p class="step-info-header">The Basic Style</p><br/>
                    <p class="step-info-content">Click the placeholder shape on the template and replace the image with your own.</p>
                    <button class="btn step-info-button">Close</button><br/>
                    <div class="form-check close-checkbox">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                        <label class="form-check-label checkbox-text" for="flexCheckDefault">
                            Dont show next time
                        </label>
                      </div>
                </div>
            <!-- </div> -->
            
            <div #customid></div>
        </div>
        <div class="col-md-5 offset-md-1">
            <div id="gjs" class="editor">
                <h1> My Component! </h1>
            </div>
        </div>
        <div class="col-md-3">
            <!-- <div id="traits-container"></div> -->
            <div id="style-manager-container"></div>
            <div #styletext></div>
        </div>
    </div>
</div>


