<div class="main-container">
    <div class="heading-block text-center">
        <h1>Welcome to the plista Ad Set Builder.</h1>
        <p>A new way of building ads.</p>
    </div>
    <div class="template-block">
        <div class="outer-block">
            <div class="inner-block">
                <p class="select-para">SELECT YOUR PREFERED AD SET TEMPLATE</p>
                <div class="template-type-block row">
                    <!-- <div class="col-md-3">
                        <div class="border-box">
                            <div class="border-box-inner">
                                <div class="heading">Blank Template</div>
                                <div class="description">Start with a blank template in Ad Set Builder to create your ad from scratch</div>
                                <button (click)="onAdBuilder()" class="btn btn-primary">Select</button>
                            </div>
                        </div>
                    </div> -->
                    <div class="col-md-3 offset-md-1">
                        <div class="border-box">
                            <div class="border-box-inner">
                                <div class="heading">Banner ad Template</div>
                                <div class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</div>
                                <button  (click)="onAdBuilder()" class="btn btn-primary">Select</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 offset-md-1">
                        <div class="border-box">
                            <div class="border-box-inner">
                                <div class="heading">Social Ad Template</div>
                                <div class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</div>
                                <button class="btn btn-primary">Select</button>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-md-3 offset-md-1">
                        <div class="border-box">
                            <div class="border-box-inner">
                                <div class="heading">Video Ad Template</div>
                                <div class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</div>
                                <button class="btn btn-primary">Select</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
