h1.heading{
    font-size: 32px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1;
    letter-spacing: normal;
    color: #292929;
}
.heading-block{
    text-align: center;
    margin: 50px 0;
}
.heading-block p{
    margin: 16px 4px 0 5px;
  opacity: 0.8;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-align: center;
  color: #292929;
}
.template-block{
    max-width: 948px;
    left: 50%;
    transform: translate(-50%);
    position: relative;
}
.template-block .outer-block{
    background: url(../../../assets/images/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 24px;
    border-radius: 16px;
    box-shadow: inset 0 1px 8px 2px rgba(0, 0, 0, 0.5);
}
.template-block .inner-block{
    color: #fff;
    padding: 11px 30px 30px 30px;
    border-radius: 12px;
    background-color: #7a808d;
}

.template-type-block .border-box{
    background-color: transparent;
    border: 1px solid #555a67;
    border-radius: 3px;
    position: relative;
    width: 100%;
    padding: 16px;
    height: 100%;
    min-height: 310px;
}

.template-type-block .border-box .border-box-inner{
    position: relative;
    height: 100%;
}

.template-type-block .border-box .heading{
    padding-bottom: 30px;
    font-size: 14px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.71;
    letter-spacing: normal;
    color: #ffffff;
}
.template-type-block .border-box .description{
    margin-bottom: 80px;
    opacity: 0.7;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.29;
    letter-spacing: normal;
    color: #e6eaed;
}
.template-type-block .border-box button{
    position: absolute;
    width: 100%;
    bottom: 0;
    height: 40px;
    padding: 2px;
    background: #99a0ad;
    border: solid 1px #555a67;
    border-radius: 3px;
    font-size: 14px;
    font-family: IBM Plex Sans,Arial,Helvetica,sans-serif;
 }
.template-block .inner-block .select-para{
    font-size: 12px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 2;
    letter-spacing: normal;
    color: #e6eaed;
}
.template-type-block .border-box:hover{
    background-color: #99a0ad;
}
.template-type-block .border-box:hover button{
    
  border: solid 1px #555a67;
  background-color: #56bce5;
}
.template-type-block .border-box:hover .description{
  color: #ffffff;
}
.template-type-block .col-md-3{
    padding-right: 8px;
    padding-left: 8px;
}