<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<ng-container>
  <app-header></app-header>
</ng-container>
<div class="container main-content">
  <router-outlet></router-outlet>
</div>

<!-- Toolbar -->
<!-- <div class="toolbar" role="banner">
  <span style="margin-left: 40px;">Plista | Ad Set Builder</span>
</div> -->

<!-- <div class="content" role="main">
   <div id="layers" class="column" style="flex-basis: 500px;">
    Layers here
    <div id="layers-container"></div>
  </div> -->
  <!-- <div class="panel__top">
    <div class="panel__basic-actions"></div>
  </div> -->
  <!--<app-creative-editor></app-creative-editor>
</div> -->