<!-- Modal -->
<div class="modal modal-exit fade" id="myModal" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-body">
                <h1>Attention</h1>
                <p>The Style will not be saved unless you "Generate All Styles"</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default btn-close" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-default btn-continue" data-dismiss="modal"
                    (click)="continueRoute()">Yes, Continue</button>
            </div>
        </div>
    </div>
</div>