$layerIconSize: 15px !default;
$layerNameSpacing: 5px !default;

.#{$nv-prefix} {
  &selected-parent {
    border: 1px solid $colorYell;
  }

  &opac50 {
    @include opacity(0.5);
  }

  &layer {
    font-weight: lighter;
    text-align: left;
    position: relative;
    background-color: rgba(0, 0, 0, 0.1);
    font-size: $fontSizeS;

    &-hidden {
      @include opacity(0.55);
    }

    &-count {
      position: absolute;
      right: 27px;
      top: 9px;
    }

    &-vis {
      height: auto !important;
      width: auto !important;
      left: 0;
      top: 0;
      padding: 7px 5px 7px 10px;
      position: absolute;
      cursor: pointer;
      z-index: 1;
    }

    &-caret {
      font-size: 0.5rem;
      width: 8px;
      padding: 2px;
      cursor: pointer;
      position: absolute;
      left: -9px;
      top: 6px;
      @include opacity(0.7);

      &:hover {
        @include opacity(1);
      }
    }

    &-title {
      @extend .#{$app-prefix}category-title;

      padding: 3px 10px 5px 30px;
      display: flex;
      align-items: center;

      &-inn {
        align-items: center;
        position: relative;
        display: flex;
        width: 100%;
      }
    }

    &__icon {
      display: block;
      width: 100%;
      max-width: $layerIconSize;
      max-height: $layerIconSize;
      padding-left: 5px;

      svg {
        fill: currentColor;
      }
    }

    &-name {
      padding: $layerNameSpacing 0;
      display: inline-block;
      box-sizing: content-box;
      overflow: hidden;
      white-space: nowrap;
      margin: 0 30px 0 $layerNameSpacing;
      @extend .#{$app-prefix}no-user-select;

      &--no-edit {
        text-overflow: ellipsis;
      }
    }

    > .#{$nv-prefix}layer-children {
      display: none;
    }

    &.open > .#{$nv-prefix}layer-children {
      display: block;
    }

    &-no-chld > .#{$nv-prefix}layer-title-inn > .#{$nv-prefix}layer-caret {
      display: none;
    }

    &-move {
      padding: 7px 10px 7px 5px;
      position: absolute;
      font-size: 12px;
      cursor: move;
      right: 0;
      top: 0;
    }

    &.#{$nv-prefix}hovered .#{$nv-prefix}layer-title {
      background-color: rgba(255, 255, 255, 0.015);
    }

    &.#{$nv-prefix}selected .#{$nv-prefix}layer-title {
      background-color: rgba(255, 255, 255, 0.1);
    }
  }
}


.#{$app-prefix}layers {
  position: relative;
  height: 100%;

  ##{$nv-prefix}placeholder {
    width: 100%;
    position: absolute;

    ##{$nv-prefix}plh-int {
      height: 100%;
      padding: 1px;

      &.#{$nv-prefix}insert {
        background-color: $colorGreen;
      }
    }
  }
}

//custom layer css
.gjs-layer{
  background-color: transparent;
}
.gjs-layer-children{
  .gjs-layer{
    border-radius: 3px;
    border: solid 1px #555a67;
    background-color: #7a808d;
    margin: 8px 0px;
    .gjs-layer-title{
      height: 39px;
      border-bottom: none;
      &.gjs-layer-no-chld{
        padding-left: 30px !important;
      }
    }
    .gjs-no-app{
      height: auto;
      font-size: 14px;
      color: #c6cacd;
    }
  }
  .gjs-layer-vis, .gjs-layer-move{
    transform: translate(0,-50%);
    top: 50%;
    color: #c6cacd;
  }
  .gjs-layer-title-c{
    background-color: transparent;
    border-radius: 3px;
  }
}
.gjs-layer.gjs-selected{
  .gjs-layer-title{
    background-color: #99a0ad;
    border-radius: 3px;
    .gjs-no-app{
      color: #ffffff;
    }
  }
  .gjs-layer-vis, .gjs-layer-move{
    color: #ffffff;
  }
} 

//icons for layer
.gjs-layer{
  .fa.fa-eye{
    pointer-events: none;
    cursor: none;
    font-size: 14px;
  }
  .gjs-layer__t-text{
    .fa.fa-eye{
      &::before{
       content: "\f035";
      }
    }
  }
  .gjs-layer__t-image{
    .fa.fa-eye{
      &::before{
       content: "\f03e";
      }
    }
  }
  .gjs-layer__t-link{
    .fa.fa-eye{
      &::before{
       content: "\f096";
      }
    }
  }
}

.gjs-layer.open > .gjs-layer-children{
  display: block !important;
}
.gjs-layer > .gjs-layer-children{
  display: block !important;
}
.gjs-layer__t-wrapper{
  .gjs-layer-vis.fa.fa-eye{
    display: none;
  }
  .gjs-layer-title-c.gjs-one-bg{
    display: none;
  }
  .gjs-layer-count{
    display: none;
  }
  .gjs-layer-children{
    .gjs-layer-vis.fa.fa-eye{
      display: inline-block;
    }
    .gjs-layer-title-c.gjs-one-bg{
      display: block;
    }
    .gjs-layer-count{
      display: block;
    }
  }
}