.#{$mdl-prefix} {
  &container {
    font-family: $mainFont;
    overflow-y: auto;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 100;
  }

  &dialog {
    width: 677px;
    height: 381px;
    margin: auto;
    border-radius: 5px;
    box-shadow: 0 3px 10px 6px rgba(48, 52, 60, 0.4);
    background-color: $mainColor;
  }

  &title {
    font-size: 1rem;
  }

  &btn-close {
    @extend .btn-cl;

    position: absolute;
    right: 15px;
    top: 5px;
  }

  &active .#{$mdl-prefix}dialog {
    animation: #{$mdl-prefix}slide-down 0.216s;
  }

  &header,
  &content {
    padding: 0px 0px;
    clear: both;
  }

  &header {
    position: relative;
    padding: 0px;
  }
}

.#{$app-prefix}export-dl::after {
  content: "";
  clear: both;
  display: block;
  margin-bottom: 10px;
}
.image-upload-modal {
  border-bottom: none;
  background-color: #696e7a;
}
.image-upload-modal {
  border-bottom: none !important;

  & li {
    padding: 9px 22px 7px 21px;

    &.active {
      background-color: $mainColor;
    }
    & a {
      width: 71px;
      height: 24px;
      margin: 8px 16px 32px 8px;
      font-family: IBM Plex Sans;
      font-size: 10px;
      font-weight: 500;
      font-stretch: normal;
      font-style: normal;
      line-height: 2.4;
      letter-spacing: normal;
      color: $bodyBgColor;
      text-decoration: none;
    }
  }
}
.dropzone-wrapper {
  width: 629px;
  height: 293px;
  margin: 24px;
  border: dashed 2px #555a67;
}
.dropzone-desc {
  position: relative;
  margin: 0 auto;
  left: 0;
  right: 0;
  text-align: center;
  width: 40%;
  top: 100px;
  font-size: 16px;
}
.dropzone,
.dropzone:focus {
  position: absolute;
  outline: none !important;
  width: 100%;
  height: 150px;
  cursor: pointer;
  opacity: 0;
}

.dropzone-wrapper:hover,
.dropzone-wrapper.dragover {
  background: $mainColor;
}
.upload-icon{
  font-size: 3em;
  color:#3f434c;
}
.upload-text{
  color:#3f434c;
}
.select-image{
  width: 215px;
  height: 40px;
  margin: 10px 0 0;
  padding: 9px 59px 10px 58px;
  opacity: 0.5;
  border-radius: 3px;
  border: solid 1px #50545e;
  background-color: #a2a7b3;
  font-family: IBM Plex Sans;
  font-size: 14px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: center;
  color: $secondaryColor;
}
