.#{$app-prefix}blocks-c {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  border: 1px solid #424752;
  background-color: #424752;
  margin: 9px;
  // border: 2px solid #424752;
  // border-radius: 5%;
  // margin-left: -5px;
  // width: 107%;
}

.#{$app-prefix}block-categories {
  display: flex;
  flex-direction: column;
}

.#{$app-prefix}block-category {
  width: 100%;

  &.#{$app-prefix}open {
    @extend .#{$app-prefix}category-open;
  }

  .#{$app-prefix}title {
    @extend .#{$app-prefix}category-title;
  }

  .#{$app-prefix}caret-icon {
    margin-right: 5px;
  }
}

.#{$app-prefix}block {
  @include user-select(none);

  width: 73px;
  min-width: 45px;
  padding: 1em;
  box-sizing: border-box;
  min-height: 40px;
  cursor: all-scroll;
  font-size: 11px;
  font-weight: lighter;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid rgba(0, 0, 0, 0.6);
  border-radius: 3px;
  // margin: 10px 2.5% 5px;
  box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.15);
  transition: all 0.2s ease 0s;
  transition-property: box-shadow, color;
  background-color: #8d93a0;
  &:hover {
    box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.15);
    background: #56bce5;
  }

  svg {
    fill: currentColor;
  }

  &__media {
    margin-bottom: 10px;
  }
}

.#{$app-prefix}block-svg {
  width: 54px;
  fill: currentColor;
}

.#{$app-prefix}block-svg-path {
  fill: currentColor;
}

.#{$app-prefix}block.fa {
  font-size: 2em;
  line-height: 2em;
  padding: 11px;
}

.#{$app-prefix}block-label {
  line-height: normal;
  font-size: 0.65rem;
  font-weight: normal;
  font-family: Helvetica, sans-serif;
  overflow: hidden;
  text-overflow: ellipsis;
}

.#{$app-prefix}block.#{$app-prefix}bdrag {
  width: auto;
  padding: 0;
}
.block-manager-gjs{
  margin-top:21px;
}