/* You can add global styles to this file, and also import other style files */
@import "../node_modules/bootstrap/dist/css/bootstrap.css";
:host {
    font-family: IBM Plex Sans,Arial,Helvetica,sans-serif;
    font-size: 14px;
    color: #333;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  body{
    font-family: IBM Plex Sans,Arial,Helvetica,sans-serif;
  }
  div{
    font-family: IBM Plex Sans,Arial,Helvetica,sans-serif;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 8px 0;
    font-family: IBM Plex Sans,Arial,Helvetica,sans-serif;
    font-weight: 500;
  }

  p {
    margin: 0;
    font-family: IBM Plex Sans,Arial,Helvetica,sans-serif;
  }
  button{
    font-family: IBM Plex Sans,Arial,Helvetica,sans-serif;
  }
  h1{
    font-size: 32px;
    font-weight: 500;
  }
  .navbar{
    height: 64px;
    padding: 0;
    margin: 0 auto;
    padding: 0 16px;
    padding-top: unset;
  }

/****   This is for grapesjs lib*/
body{
    background-color: #e6eaed!important;
}
/* .gjs-block {
    -moz-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    user-select: none;
    width: 95%!important;
    min-width: 45px;
    padding: 1em;
    box-sizing: border-box;
    min-height: 40px!important;
    cursor: all-scroll;
    font-size: 15px;
    font-weight: lighter;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: 3px;
    margin: 10px 2.5% 5px;
    box-shadow: 0 1px 0 0 rgba(0,0,0,.15);
    transition: all .2s ease 0s;
    transition-property: box-shadow,color;
}
#gjs > div.gjs-editor.gjs-one-bg.gjs-two-color > div.gjs-cv-canvas {
    top: 0!important;
    width: 100%!important;
    height: 100%!important;
}
.gjs-two-color {
    color: #ffffff!important;
}
.gjs-one-bg {
    background-color: #7a808d!important;
} */
app-creative-editor{
    width:100%;
    height: 100%;
}
.main-content{
  width:1440px;
}
:host {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    color: #333;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 8px 0;
  }

  p {
    margin: 0;
  }

  .spacer {
    flex: 1;
  }

  .toolbar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    display: flex;
    align-items: center;
    background-color: #000000;
    color: white;
    font-weight: 600;
    
  }

  .toolbar img {
    margin: 0 16px;
  }

  .toolbar #twitter-logo {
    height: 40px;
    margin: 0 16px;
  }

  .toolbar #twitter-logo:hover {
    opacity: 0.8;
  }

  .content {
    display: flex;
    margin: 82px auto 32px;
    padding: 0 16px;
    max-width: 960px;
    flex-direction: column;
    align-items: center;
  }

  svg.material-icons {
    height: 24px;
    width: auto;
  }

  svg.material-icons:not(:last-child) {
    margin-right: 8px;
  }

  .card svg.material-icons path {
    fill: #888;
  }

  .card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    margin-top: 16px;
  }

  .card {
    border-radius: 4px;
    background-color: #fafafa;
    height: auto;
    width: auto;
    margin: 0 0px 25px;
    padding: 16px;
    display: flex;
    flex-direction: row;
    justify-content: left;
    transition: all 0.2s ease-in-out;
    line-height: 24px;
  border-radius: 5px;
  box-shadow: 0 3px 6px 0 #b4babe;
  background-color: #7a808d;
    
  }

  .card-container .card:not(:last-child) {
    margin-right: 0;
  }

  .card.card-small {
    height: 16px;
    width: 168px;
  }

  .card-container .card:not(.highlight-card) {
    cursor: pointer;
  }

  .card-container .card:not(.highlight-card):hover {
    transform: translateY(-3px);
    box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
  }

  .card-container .card:not(.highlight-card):hover .material-icons path {
    fill: rgb(105, 103, 103);
  }

  .card.highlight-card {
    background-color: #1976d2;
    color: white;
    font-weight: 600;
    border: none;
    width: auto;
    min-width: 30%;
    position: relative;
  }

  .card.card.highlight-card span {
    margin-left: 60px;
  }
  .card:hover{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  }
  a,
  a:visited,
  a:hover {
    color: #1976d2;
    text-decoration: none;
  }

  a:hover {
    color: #125699;
  }

  .circle-link {
    height: 40px;
    width: 40px;
    border-radius: 40px;
    margin: 8px;
    background-color: white;
    border: 1px solid #eeeeee;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: 1s ease-out;
  }

  .circle-link:hover {
    transform: translateY(-0.25rem);
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
  }

  footer {
    margin-top: 8px;
    display: flex;
    align-items: center;
    line-height: 20px;
  }

  footer a {
    display: flex;
    align-items: center;
  }



  /* Responsive Styles */
  @media screen and (max-width: 767px) {

    .card-container > *:not(.circle-link) ,
    .terminal {
      width: 100%;
    }

    .card:not(.highlight-card) {
      height: 16px;
      margin: 8px 0;
    }

    .card.highlight-card span {
      margin-left: 72px;
    }
  }
